body {
    background-color: whitesmoke;
}

.top-bar {
    background-color: white;
    width: 100%;
    height: 30px;
    float: top;
    border-color: gold;
    padding-left: 40px;
    padding-top: 25px;
    text-align: justify;
    color: black;
    position: fixed;
    box-shadow: 0 8px 24px -2px rgba(0,0,0, 0.3);
    padding-top: 6px;
}

.top-bar a {
    color: black;
    text-decoration: none;
}

.top-bar table {
    text-align: center;
    width: 95%;
}

.top-bar td {
    width: 33%;
}

.main {
    width: 100%;
    padding-top: 30px;
    float: center;
    background-color: rgba(250, 230, 0, 0.4);
}

.main p {
    margin-left: 10px;
    margin-right: 10px;
}

.main h1 {
    text-align: center;
}

.main h2 {
    text-align: center;
}

.footer {
    width: 100%;
    background-color: black;
    color: rgb(182, 182, 182);
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    font-size: large;
    margin: 0;
    padding: 0;
}

.footer a {
    text-decoration: none;
    color:rgb(182, 182, 182);
}

.footer table {
    width: 100%;
    margin-left: 30px;
    text-align: center;
    padding-right: 2em;
}

.footer td {
    width: 33.3%;
}

.footer-foot {
    text-align: right;
    color: rgb(182, 182, 182);
    width: 66.6%;
}

.tov {
    border-style: solid; 
    border-width: 2px; 
    border-radius: 5px; 
    width: 300px; 
    height: 300px; 
    background-color: white; 
    text-align: center; 
    margin-left: 20px; 
    margin-bottom: 20px; 
    margin-right: 20px;
    align-content: space-around;
    float: left;
}

.tov p {
    text-align: left;
}

.tov img {
    height: 150px;
}

.igtb {
    height: 300px;
}

td {
    vertical-align: top;
}

table {
    width: 100%;
}

.orls {
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
}

button {
    display: block;
}

input {
    white-space: nowrap;
}